.cover__content {
  position: relative;
  height: 740px;
  margin-top: 44px;
}

.cover__background {
  position: absolute;
  z-index: 1;
  opacity: 70%;
  width: 1184px;
}

/*.cover__background:hover {
  background-color: #2a2c2f;
} */

.cover__information {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 740px;
}

.cover__title {
  font-family: Inter;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
}

.cover__subtitle {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  width: 280px;
  margin: 32px 0;
}
