.cover {
  position: relative;
  height: 740px;
  width: 1184px;
}

.cover__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.cover:hover .cover__overlay {
  background-color: rgba(42, 44, 47, 0.8);
}

.cover__background {
  position: absolute;
  opacity: 70%;
  width: 100%;
}

.cover__information {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 740px;
}

.cover__title {
  font-family: Inter;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
}

.cover__subtitle {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  width: 280px;
  margin: 32px 0;
}
