.lead {
  display: grid;
}

.lead__title {
  max-width: 793px;
  justify-self: center;
  margin: 90px 0 32px 0;
  font-family: Inter;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  letter-spacing: 0em;
  text-align: center;
}

.lead__subtitle {
  max-width: 720px;
  justify-self: center;
  margin: 0 0 64px 0;
  font-family: Inter;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
}

.lead__image {
  width: 100%;
}
