@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2") format("woff2");
}

.page {
  background: #2a2c2f;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

@media screen and (min-width: 1280px) {
}

.header {
  padding-top: 34px;
}

.header__logo {
  margin: auto;
  display: block;
}

.lead {
  display: grid;
}

.lead__title {
  max-width: 793px;
  justify-self: center;
  margin: 90px 0 32px 0;
  font-family: Inter;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  letter-spacing: 0em;
  text-align: center;
}

.lead__subtitle {
  max-width: 720px;
  justify-self: center;
  margin: 0 0 64px 0;
  font-family: Inter;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
}

.lead__image {
  width: 100%;
}

.intro {
  max-width: 1017px;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 2fr 2fr 1fr 2fr;
}

.intro__title {
  font-family: Inter;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  grid-column: 1/5;
}

.intro__quote {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  grid-column: 1/4;
  grid-row: 2/5;
  margin: auto;
}

.intro__author {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: right;
  grid-column: 1/4;
  grid-row: 4/6;
  margin: 0;
}

.intro__text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  grid-column: 1/4;
  margin: 32px 0 0 0;
}
